*__pycache__*
#*migrations*
*venv*
docker/persistance/*
#db.sqlite3
.env
credentials.txt
node_modules
package-lock.json
*dist*
*.pyc
tutorial.txt
deploy/rsa/*
*localsettings.py
#*config.json
#test/*
**/media/
docker/persistance/**
._*
docker/.env.template
*env_vars.sh
**sent/*
**logs/
**log/
**sent/
**output/
**output/*
docker/data/redis/dump.rdb
*sent.zip
**celery_logs/*
docker/.env.template
docker/.env.template
docker/static/*
docker/docker-compose.yml
doc/sennosen drawings.pptx
ui/static/js/environment.js
